name: Delete Preview Docs

on:
  pull_request:
    types: [closed]
    branches:
      - devel

jobs:
  cleanup-preview:
    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout gh-pages branch
      uses: actions/checkout@v3
      with:
        ref: gh-pages
        fetch-depth: 0

    - name: Configure Git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

    - name: Remove preview directory
      run: |
        if [ -d "preview/${{ github.head_ref }}" ]; then
          rm -rf preview/${{ github.head_ref }}
          git rm -r --ignore-unmatch preview/${{ github.head_ref }}
          git commit -m "Remove preview docs for PR #${{ github.event.pull_request.number }}"
          git push origin gh-pages
       fi

