name: Update Pages Index
on:
  workflow_call:

jobs:
  update-index:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: gh-pages

      - name: Generate index.html
        run: |
          echo "<html><head><title>Documentation Index</title></head><body>" > index.html
          echo "<h1>Documentation Index</h1>" >> index.html
          echo "<table border='1' cellpadding='5' cellspacing='0'>" >> index.html
          echo "<tr><th>Branch</th><th>Last Modified</th></tr>" >> index.html
          find . -mindepth 1 -maxdepth 1 -type d -exec stat --format '%Y %n' {} \; \
            | sort -r \
            | awk '{
                cmd = "date -d @" $1 " +\"%Y-%m-%d %H:%M:%S\""
                cmd | getline mod_date
                close(cmd)
                dir = substr($0, index($0,$2))
                gsub("./", "", dir)
                print "<tr><td><a href=\"" dir "/\">" dir "</a></td><td>" mod_date "</td></tr>"
              }' >> index.html
          echo "</table></body></html>" >> index.html

      - name: Deploy index.html
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          keep_files: true
          force_orphan: false
